<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.halae">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainTabActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".VolunteerTimeActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MyDonateActivity" />

        <activity android:name=".MyWorkActivity" />
        <activity android:name=".BoardActivity" />
        <activity android:name=".BoardWriteActivity" />
        <activity android:name=".BoardCommentActivity" />
        <activity android:name=".BoardDetailActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Login1Activity" />
        <activity
            android:name=".HalmateScheduleSelectActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".HalmateMessageActivity" />
        <activity android:name=".HalmateScheduleDetailActivity" />
        <activity android:name=".HalmateScheduleAddActivity" />
        <activity android:name=".LoginActivity2" />
        <activity android:name=".LoginActivity3" />
        <activity android:name=".LoginSearchActivity1" />
        <activity android:name=".LoginSearchActivity2" />
        <!--<activity android:name=".SplashActivity"/>-->

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".KakaoSignupActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>